{% extends 'Base.html' %}

{% block title %} {{ block.super }} {% endblock %}
{% block content %}
<h2>{{ blog.title }}</h2>
<p><strong>Post date</strong> {{ blog.post_datetime }}</p>
<p><strong>Author:</strong> {{ blog.author }}</p>
<p><strong>Description:</strong></p>
{{ blog.content }}
<div style="margin: 20px">
    <h5>Comments</h5>
    <hr>
    {% for comment in comments %}
    {% if comment.blog_id == blog.pk %}
    <p>{{ comment.author }} ({{ comment.post_datetime }}) - {{ comment.content }}</p>
    <hr>
    {% endif %}
    {% endfor %}
    {% if user.is_authenticated %}
    add
    {% comment %}<a href="">Add a new comment</a> {% endcomment %}
    {% else %}
    Login
    {% endif %}
</div>
{% endblock %}
